html {
  width: 100%;

  body {
    font-family: Verdana;
    max-width: 60em;
    margin: auto;

    header {
      h1 {
        margin-bottom: 0;

        #insertme {
          font-family: "Empty Font";
          font-weight: normal;
        }
      }
      h2 {
        font-size: 0.7em;
      }
    }

    sfnt,
    headt,
    maxp,
    hmtx,
    loca,
    namet {
      background-color: #ddf;
    }

    tdir,
    hhea,
    os_2,
    cmap,
    glyf,
    post {
      background-color: #dfd;
    }

    pre, code {
      background-color: #ffd;
    }

    new,
    search,
    replace {
      color: #fff;
    }

    new {
      background-color: #006;
    }

    search {
      background-color: #600;
    }

    replace {
      background-color: #060;
    }

    .note {
      font-style: italic;
      font-size: 1.1em;
    }
  }
}
